

<!DOCTYPE html>
<HTML lang="pt-BR">
<HEAD>

<TITLE> Pagina de Validacao </TITLE>

 <link rel="stylesheet" type="text/css" href="static/css/folhadeestilo.css"> 

</HEAD>


<BODY class="color-page">
<div class="container-principal" id="topo">
<header>
<div clas="logo">
<a href="index.html" >
<img src="static/imagem/logo.png" alt="logo site" 
</a>
</div>

<nav>
<ul>
<li><a href="#">Inicio</a></li>
<li><a href="#">Validacao</a></li>
<li><a href=#>Relatorios</a></li>

</ul>


</header>



<section id="section-code" >

<div class="config" >
	
<h1 align="center">Selecionar arquivo para validacao</h1>
 <font color="red">Campos obrigatorios que estao vazios </font>
 <font color="blue">Tamanho do campo invalido </font>
 <font color="gren">Campo nao numerico </font>

<p><input type="file" id="loadFile"  accept=".csv" onchange="pegaCSV(this)"></p>

   <div id ="fileList"></div>

<div id="CSVsaida"></div> 







</div>

</section>

</div>
 {{ posts }}
</BODY>

</HTML>