<!DOCTYPE html>
<HTML lang="pt-BR">
<HEAD>

<TITLE> Pagina de Validacao </TITLE>

<link rel="stylesheet" type="text/css" href="css/folhadeestilo.css">

</HEAD>


<BODY class="color-page">
<div class="container-principal" id="topo">
<header>
<div clas="logo">
<a href="index.html" >
<img src="imagem/logo.png" alt="logo site" 
</a>
</div>

<nav>
<ul>
<li><a href="index.html">Inicio</a></li>
<li><a href="valida.html">Validacao</a></li>
<li><a href=#>Relatorios</a></li>

</ul>


</header>



<section id="section-code" >

<div class="config" >
	
<h1 align="center">Selecionar arquivo para validacao</h1>
 <font color="red">Campos obrigatorios que estao vazios </font>
 <font color="blue">Tamanho do campo invalido </font>
 <font color="gren">Campo nao numerico </font>

<p><input type="file" id="loadFile"  accept=".csv" onchange="pegaCSV(this)"></p>

   <div id ="fileList"></div>

<div id="CSVsaida"></div> 







</div>

</section>

</div>
 <div>
            <p>publicado: 14.06.2014, 12:14</p>
            <h2><a href="">Meu primeiro post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>publicado: 14.06.2014, 12:14</p>
            <h2><a href="">Meu segundo post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
</BODY>

</HTML>